<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="toggler-navegation">
            <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false"> 
                <span class="ion-android-menu"></span>
            </button>
        </div>
        <div class="pr_search_icon">
            <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
        </div> 
        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
            <ul class="navbar-nav">
                <li class="dropdown">
                    <a  class="nav-link activeHeader active" [routerLink]="[ '/home' ]">Home</a>
                </li>
                
                <li class="dropdown dropdown-mega-menu">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Products</a>
                    <div class="dropdown-menu">
                        <ul class="mega-menu d-lg-flex">
                            <li class="mega-menu-col col-lg-3">
                                <ul> 
                                    <li class="dropdown-header ">{{ productOne }}</li>
                                    <li *ngFor="let variant of variantOne">
                                        <a class="dropdown-item nav-link nav_item" (click)="reload(productOne_id, variant.id)" [routerLink]="['/product/', productOne_id, variant.id]">{{ variant.title }}</a>
                                    </li>
    
                                </ul>
                            </li>
                            <li class="mega-menu-col col-lg-3">
                                <ul>
                                    <li class="dropdown-header">{{ productFour | slice:0:13 }}</li>
                                    <li *ngFor="let variant of variantFour">
                                        <a class="dropdown-item nav-link nav_item" (click)="reload(productFour_id, variant.id)" [routerLink]="['/product/', productFour_id, variant.id]">{{ variant.title }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mega-menu-col col-lg-3">
                                <ul>
                                    <li class="dropdown-header">{{ productFive | slice:0:13 }}</li>
                                    <li *ngFor="let variant of variantFive">
                                        <a class="dropdown-item nav-link nav_item" (click)="reload(productFive_id, variant.id)" [routerLink]="['/product/', productFive_id, variant.id]">{{ variant.title }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mega-menu-col col-lg-3">
                                <ul>
                                    <li class="dropdown-header">{{ productSix | slice:0:10 }}</li>
                                    <li *ngFor="let variant of variantSix">
                                        <a class="dropdown-item nav-link nav_item" (click)="reload(productSix_id, variant.id)" [routerLink]="['/product/', productSix_id, variant.id]">{{ variant.title }}</a>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                        <div class="d-lg-flex menu_banners">
                            <div class="col-lg-6">
                                <div class="header-banner">
                                    <div class="sale-banner">
                                        <a class="hover_effect1" routerLink="product/4664672616496/32394390831152">
                                            <img src="../../../assets/images/redcon/slide.jpg" alt="shop_banner_img7">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="header-banner">
                                    <div class="sale-banner">
                                        <a class="hover_effect1" routerLink="product/2176823427120">
                                            <img src="../../../assets/images/redcon/banner2.jpg" alt="shop_banner_img8">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="dropdown dropdown-mega-menu">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Shop</a>
                    <div class="dropdown-menu">
                        <ul class="mega-menu d-lg-flex">
                            <li class="mega-menu-col col-lg-9">
                                <ul class="d-lg-flex">
                                    <li class="mega-menu-col col-lg-4">
                                        <ul> 
                                            <li class="dropdown-header">Shop Page Layout</li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">shop List view</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">shop List Left Sidebar</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-list-right-sidebar.html">shop List Right Sidebar</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">Left Sidebar</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">Right Sidebar</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">Shop Load More</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header">Other Pages</li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-cart.html">Cart</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="checkout.html">Checkout</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="my-account.html">My Account</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="wishlist.html">Wishlist</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="compare.html">compare</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="order-completed.html">Order Completed</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header">Product Pages</li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">Default</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-left-sidebar.html">Left Sidebar</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-right-sidebar.html">Right Sidebar</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">Thumbnails Left</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="mega-menu-col col-lg-3">
                                <div class="header_banner">
                                    <div class="header_banner_content">
                                        <div class="shop_banner">
                                            <div class="banner_img overlay_bg_40">
                                                <img src="assets/images/shop_banner3.jpg" alt="shop_banner"/>
                                            </div> 
                                            <div class="shop_bn_content">
                                                <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                                                <h3 class="text-uppercase shop_title">Sale 30% Off</h3>
                                                <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="nav-link nav_item" href="contact.html">Contact Us</a></li> 
            </ul>
        </div>
        <div class="contact_phone contact_support">
            <i class="linearicons-phone-wave"></i>
            <span>123-456-7689</span>
        </div>
    </nav>
</div>