<header class="header_wrap">
	<app-top-header></app-top-header>
    <div class="middle-header dark_skin">
    	<div class="custom-container">
            <div class="nav_block">
                <a class="navbar-brand" [routerLink]="[ '/home']">
                    <img class="logo_dark" src="assets/images/redcon/logo-black.png" alt="logo" width="200" />
                </a>
                <app-search></app-search>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a href="#" class="nav-link"><i class="linearicons-user"></i></a></li>
                    <li><a href="#" class="nav-link"><i class="linearicons-heart"></i><span class="wishlist_count">0</span></a></li>
                    <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-bag2"></i><span class="cart_count">2</span><span class="amount"><span class="currency_symbol">$</span>159.00</span></a>
                        <div class="cart_box cart_right dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                <li *ngFor="let product of products">
                                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                                    <a href="#"><img [src]="product.image" alt="cart_thumb1">{{ product.title }}</a>
                                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span></span>78.00</span>
                                </li>
                            </ul>
                            <div class="cart_footer">
                                <p class="cart_total"><strong>Subtotal:</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>159.00</p>
                                <p class="cart_buttons"><a href="#" class="btn btn-fill-line view-cart">View Cart</a><a href="#" class="btn btn-fill-out checkout">Checkout</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase border-top border-bottom">
    	<div class="custom-container">
            <div class="row"> 
            	<div class="col-lg-3 col-md-4 col-sm-6 col-3">
                	
                    <!--<app-sidebar></app-sidebar>-->
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                	<app-menu></app-menu>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->