.categories_btn {
    background-color: #000000 !important;
    border: 1px solid #000000;
    color: #fff;
    text-align: left;
    width: 100%;
    margin-top: 17px;


}

@media only screen and (max-width: 800px) {
    .categories_btn {
        background-color: #000000 !important;
        border: 1px solid #000000;
        color: #fff;
        text-align: left;
        width: 60%;
        margin-left: 0px !important ;
        margin-top: 18px;
        
    }
}


.marginSidbar {
    padding-left: 25px ;
}

.cssImg {
    margin-left: -10px !important;
}

button  {
    height: 50px !important;
}



  .bg-sidbar {
      background-color: #000;
      color: floralwhite;
  }

  #navCatContent li a {
    text-transform: capitalize;
    font-size: 14px;
    color: floralwhite;
    width: 100% !important;
    padding-bottom: 10px !important;
    border:0.04em solid black;

    
}

#navCatContent {
   width: 100%;

}

.more_categories {
    color: #50008e;
}

