<div class="categories_wrap">
    <button type="button" data-toggle="collapse" data-target="#navCatContent" aria-expanded="false" class="categories_btn">
        <i class="linearicons-menu"></i><span>All Categories </span>
    </button>
    <div id="navCatContent" class="nav_cat navbar collapse">
        <ul> 
            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="">{{ productOne.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProducts.images"  [routerLink]="['/product/', productOne.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productOne.image" alt="menu_banner" [routerLink]="['/product/', productOne.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="">{{ productFive.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProductsFive.images"  [routerLink]="['/product/', productFive.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productFive.image" alt="menu_banner" [routerLink]="['/product/', productFive.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="">{{ productSix.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProductsSix.images"  [routerLink]="['/product/', productSix.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productSix.image" alt="menu_banner" [routerLink]="['/product/', productSix.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="">{{ productServen.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProductsServen.images"  [routerLink]="['/product/', productServen.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productServen.image" alt="menu_banner" [routerLink]="['/product/', productServen.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            
            
            


        </ul>
        <div class="more_categories">More Categories</div>
    </div>
</div>