<div class="categories_wrap">
    <button type="button" data-toggle="collapse" data-target="#navCatContent" aria-expanded="false" class="button-category categories_btn" >
        <i class="linearicons-menu"></i><span>Categories </span>
    </button>
    <div id="navCatContent" class="nav_cat navbar collapse moveToRight" >
        <ul class="bg-sidbar"> 
            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="" [routerLink]="['/product/', productOne.id]">{{ productOne.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProducts.images"  [routerLink]="['/product/', productOne.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productOne.image" alt="menu_banner" [routerLink]="['/product/', productOne.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="" [routerLink]="['/product/', productFive.id]">{{ productFive.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProductsFive.images"  [routerLink]="['/product/', productFive.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productFive.image" alt="menu_banner" [routerLink]="['/product/', productFive.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class=""  [routerLink]="['/product/', productSix.id]">{{ productSix.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProductsSix.images"  [routerLink]="['/product/', productSix.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productSix.image" alt="menu_banner" [routerLink]="['/product/', productSix.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown dropdown-mega-menu" >
                <a class="dropdown-item nav-link dropdown-toggler" href="#" data-toggle="dropdown"><span class="" [routerLink]="['/product/', productServen.id]">{{ productServen.title }}</span></a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
 
                        <li class="mega-menu-col card-columns">
                            <div class="header-banner2" *ngFor="let image of imagesProductsServen.images"  [routerLink]="['/product/', productServen.id]">
                                <img [src]="image.src" alt="menu_banner"  width="100px">
                                <div class="banne_info">
                                </div>
                            </div>
                            <div class="cssImg header-banner2">
                                <img [src]="productServen.image" alt="menu_banner" [routerLink]="['/product/', productServen.id]">

                            </div>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/2152531198000/']" data-toggle="dropdown"><span class="">Foxtrot - Joint Support</span></a>
                
            </li>

            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/4596933197872/']" data-toggle="dropdown"><span class="">Fish Oil (90 Servings)</span></a>
                
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/4596921729072/']" data-toggle="dropdown"><span class="">CLA (90 Servings)</span></a>
                
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/8108656519/']" data-toggle="dropdown"><span class="">Fade Out - Sleep Formula</span></a>
                
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/8108580295/']" data-toggle="dropdown"><span class="">Double Tap - Fat Burner</span></a>
                
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/8108163143/']" data-toggle="dropdown"><span class="">Breach - BCAAs</span></a>
                
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/12188138570/']" data-toggle="dropdown"><span class="">BOOM STICK</span></a>
                
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-item nav-link " [routerLink]="['/product/12188138570/']" data-toggle="dropdown"><span class="">Big Noise</span></a>
                
            </li>


            
            
            


        </ul>
        <div class="more_categories">More Categories</div>
    </div>
</div>