<div class="container-fluid">
    <div class="section small_pt pb-0">
	<div class="custom-container">
    	<div class="row">
        	<div class="col-xl-3 d-none d-xl-block">
            	<div class="sale-banner">
                	<a class="hover_effect1" href="#">
                		<img src="assets/images/redcon/NEW.jpg" alt="shop_banner_img6">
                    </a>
                </div>
            </div>
        	<div class="col-xl-9">
                <div class="row">
                    <div class="col-12">
                        <div class="heading_tab_header">
                            <div class="heading_s2">
                                <h4>Exclusive Products</h4>
                            </div>
                            <div class="tab-style2">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tabmenubar" aria-expanded="false"> 
                                    <span class="ion-android-menu"></span>
                                </button>
                                <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="tabmenubar" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="arrival-tab" data-toggle="tab" href="#arrival" role="tab" aria-controls="arrival" aria-selected="true">New Arrival</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="sellers-tab" data-toggle="tab" href="#sellers" role="tab" aria-controls="sellers" aria-selected="false">Best Sellers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="special-tab" data-toggle="tab" href="#special" role="tab" aria-controls="special" aria-selected="false">Special Offer
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab_slider" >
                            <div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
                                <div class="row itemsBlock col-md-12"> 
                                    <div  *ngFor="let product of products" class="col-md-3 col-sm-6 col-12" >
                                        
                                        <div class="item">
                                            <div class="product">
                                                <div class="product_img">
                                                    <span class="pr_flash">New</span>

                                                    <a>
                                                        <img [src]="product.image" class="lazy" loading="auto"  alt="product_img1" [routerLink]="['/product/', product.id]">
                                                    </a>
                                                    <div class="product_action_box">
                                                        <ul class="list_none pr_action_btn">
                                                            <li class="add-to-cart"><a class="back-button" ><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                            <li><a><i class="icon-shuffle"></i></a></li>
                                                            <li><a  class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                            <li><a ><i class="icon-heart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product_info">
                                                    <h6 class="product_title"><a class="dart" [routerLink]="['/product/', product.id]">{{product.title}}</a></h6>
                                                    <div class="product_price">
                                                        <span class="title-product price">$39.99</span>
                                                        <del>$79.98</del>
                                                        <div class="on_sale">
                                                            <span>50% Off</span>
                                                        </div>
                                                    </div>
                                                    <div class="rating_wrap">
                                                        <div class="rating">
                                                            <div class="product_rate" style="width:80%"></div>
                                                        </div>
                                                        <span class="rating_num">(21)</span>
                                                    </div>
                                                    <div class="pr_desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                                    </div>
                                                    <div class="pr_switch_wrap">
                                                        <div class="product_color_switch">
                                                            <span class="active" data-color="#87554B"></span>
                                                            <span data-color="#333333"></span>
                                                            <span data-color="#DA323F"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sellers" role="tabpanel" aria-labelledby="sellers-tab">
                                <div class="row">
                                    <div  *ngFor="let new of news" class="col-md-3 col-sm-6 col-12" >
                                        
                                        <div class="item">
                                            <div class="product_wrap">
                                                <div class="product_img">
                                                    <span class="pr_flash bg-danger">Hot</span>

                                                    <a>
                                                        <img [src]="new.image" loading="auto" alt="product_img1" [routerLink]="['/product/', new.id]">
                                                    </a>
                                                    <div class="product_action_box">
                                                        <ul class="list_none pr_action_btn">
                                                            <li class="add-to-cart"><a class="back-button" ><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                            <li><a><i class="icon-shuffle"></i></a></li>
                                                            <li><a  class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                            <li><a ><i class="icon-heart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product_info">
                                                    <h6 class="product_title"><a class="dart" [routerLink]="['/product/', new.id]">{{new.title}}</a></h6>
                                                    <div class="product_price">
                                                        <span class="title-product price">$39.99</span>
                                                        <del>$79.98</del>
                                                        <div class="on_sale">
                                                            <span>50% Off</span>
                                                        </div>
                                                    </div>
                                                    <div class="rating_wrap">
                                                        <div class="rating">
                                                            <div class="product_rate" style="width:80%"></div>
                                                        </div>
                                                        <span class="rating_num">(21)</span>
                                                    </div>
                                                    <div class="pr_desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                                    </div>
                                                    <div class="pr_switch_wrap">
                                                        <div class="product_color_switch">
                                                            <span class="active" data-color="#87554B"></span>
                                                            <span data-color="#333333"></span>
                                                            <span data-color="#DA323F"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="special" role="tabpanel" aria-labelledby="special-tab">
                                
                                <div class="row">
                                    <div  *ngFor="let offer of offers" class="col-md-3 col-sm-6 col-12" >
                                        
                                        <div class="item">
                                            <div class="product_wrap">
                                                <div class="product_img">
                                                    <span class="pr_flash bg-success">Offer</span>

                                                    <a>
                                                        <img [src]="offer.image" loading="auto" alt="product_img1" [routerLink]="['/product/', offer.id]">
                                                    </a>
                                                    <div class="product_action_box">
                                                        <ul class="list_none pr_action_btn">
                                                            <li class="add-to-cart"><a class="back-button" ><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                            <li><a><i class="icon-shuffle"></i></a></li>
                                                            <li><a  class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                            <li><a ><i class="icon-heart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product_info">
                                                    <h6 class="product_title"><a class="dart" [routerLink]="['/product/', offer.id]">{{offer.title}}</a></h6>
                                                    <div class="product_price">
                                                        <span class="title-product price">$39.99</span>
                                                        <del>$79.98</del>
                                                        <div class="on_sale">
                                                            <span>50% Off</span>
                                                        </div>
                                                    </div>
                                                    <div class="rating_wrap">
                                                        <div class="rating">
                                                            <div class="product_rate" style="width:80%"></div>
                                                        </div>
                                                        <span class="rating_num">(21)</span>
                                                    </div>
                                                    <div class="pr_desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                                    </div>
                                                    <div class="pr_switch_wrap">
                                                        <div class="product_color_switch">
                                                            <span class="active" data-color="#87554B"></span>
                                                            <span data-color="#333333"></span>
                                                            <span data-color="#DA323F"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
