.sidbarMenu {
    margin-top: -68px;
}

.img-home-card {
    margin-top: -35px !important;
}
.text-card-offer {
    margin-top: -20px !important;
    color: aliceblue;
}




/*SLIDES TRANSATIONS */



.bg_slid_1 {

	background-image: url("../../../assets/images/redcon/banner2.jpg");
	margin-top: 0px;
    margin-bottom: 200px;
    background-repeat: repeat-y;
}

.bg_slid_2 {

	background-image: url("../../../assets/images/redcon/slide.jpg");
	margin-top: 0px;
    margin-bottom: 200px;
    background-repeat: repeat-y;
}