<div class="dark_skin main_menu_uppercase border-top border-bottom">
    <div class="custom-container">
        <div class="row"> 
            <div class="sidbarMenu col-lg-3 col-md-4 col-sm-6 col-3">
                <div class="categories_wrap">

                    <app-sidebar></app-sidebar>

            </div>
        </div>
    </div>
</div>



<div class="mt-1 staggered-animation-wrap">
	<div class="custom-container">
    	<div class="slide-container row">
        	<div class="col-lg-7 offset-lg-3">
            	<div class="banner_section shop_el_slider">
                    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active bg_slid_1" data-img-src="../../../assets/images/redcon/logo-black.png">
                                <div class="banner_slide_content banner_content_inner">
                                    
                                    <div class="col-lg-7 col-10">
                                 
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item bg_slid_2" data-img-src="assets/images/banner14.jpg">
                                
                            </div>
    
                        </div>
                        <ol class="carousel-indicators indicators_style3">
                            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
            	<div class="shop_banner2 el_banner1">
                	<a href="#" class="hover_effect1">
                    	<div class="el_title text_white">
                        	<h6>{{ productOne.title }}</h6>
                        </div>
                        <div class="el_img">
                			<img [src]="productOne.image" class="img-home-card" alt="shop_banner_img6">
                        </div>
                        <span class="text-card-offer">25% off</span>
                    </a>
                </div>
                <div class="shop_banner2 el_banner2">
                	<a href="#" class="hover_effect1">
                		<div class="el_title text_white">
                        	<h6>{{ productTwo.title }}</h6>
                        </div>
                        <div class="el_img">
                			<img [src]="productTwo.image" class="img-home-card" alt="shop_banner_img7">
                        </div>
                        <span class="text-card-offer"><u>Shop Now</u></span>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BANNER -->

<app-shop></app-shop>