


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a [routerLink]="[ '/home']">Home</a></li>
                    <li class="breadcrumb-item active bold">Product Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        
		<div class="row" >
            
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0" >
              <div class="product-image">
                    <div class="product_img_box">
                        <div *ngIf="loadinImage ==false">
                            <img [src]="product.image" id="prod"  data-zoom-image="assets/images/product_zoom_img1.jpg" alt="product_img1" />

                        </div>

                        <div *ngIf="loadinImage ==true">
                            <img [src]="imageChange" id="prod"  data-zoom-image="assets/images/product_zoom_img1.jpg" alt="product_img1" />

                        </div>

                        <a   class="product_img_zoom" title="Zoom">
                            <span class="linearicons-zoom-in"></span>
                        </a>
                    </div>
                    <carousel>
                        
                        <div class="carousel-cell" *ngFor="let image of images.images">
                            <img [src]="image.src" alt=""  (click)="selectImage($event)">
                        </div>
                        
                    </carousel>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="pr_detail">
                    <div class="product_description">
                        <h4 class="title-product product_title"><a >{{product.title}}</a></h4>
                        <p class=" product_title"><a class="relation-title">{{ select.title }}</a></p>
                        <div class="product_price">
                            <span class="price">${{ select.price }}</span>
                            <del>$55.25</del>
                            <div class="on_sale">
                                <span>35% Off</span>
                            </div>
                        </div>
                        <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width:80%"></div>
                                </div>
                                <span class="rating_num">(21)</span>
                            </div>
                        <div class="pr_desc">
                            <p>{{product.objective}}</p>
                        </div>

                        
                        <div class="product_sort_info">
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <ng-select (ngModelChange)="getTitle($event)" [ngModel]="variant_id_selected"  [items]="variantsList" binValue="title" binLabel="title">
                                            <ng-template ng-option-tmp let-item="item">
                                                <div [title]="item.title">{{item.title}}

                                                </div>
                                            </ng-template>
                                        </ng-select>             
                                    </div>
                            </div>
                            <ul>

                                

                                <li><i class="linearicons-shield-check"></i> {{select.title}}</li>
                                <li><i class="linearicons-sync"></i> 30 Day Return Policy</li>
                                <li><i class="linearicons-bag-dollar"></i> Cash on Delivery available</li>
                            </ul>
                        </div>
                        
                    </div>
                    <hr />
                    <div class="cart_extra">
                        <div class="cart-product-quantity">
                            <div class="quantity">
                                
                                <div *ngIf="max !== 3">
                                </div>
                                <input type="button" value="-" class="minus" (click)="deCriment()">
                                <input type="text" name="quantity" [value]="quantity" title="Qty" class="qty" size="4">
                                <input type="button" value="+" class="plus" (click)="increMent()" [disabled]="quantity ==3">
                            </div>
                        </div>
                        
                        <div class="cart_btn">
                            <button class="btn btn-fill-out btn-addtocart" type="button" [disabled]="quantity ==3"><i class="icon-basket-loaded"></i> Add to cart</button>
                            <a class="add_compare" ><i class="icon-shuffle"></i></a>
                            <a class="add_wishlist"><i class="icon-heart"></i></a>
                        </div>
                        <div *ngIf="max == 4">
                            <p class="text-dark">You will only be able to buy 3 products!!</p>

                            <h3 class="title-product">Total: ${{quantity *  selectVariant.price}}</h3>
                        </div>
                    </div>
                    <hr />
                    <ul class="product-meta">
                        <li class="text-dark">SKU: <a > {{ select.sku }}</a></li>
                        <li class="text-dark">Category: <a >{{ product.handle }}</a></li>
                        <li class="text-dark">Tags: <a  rel="tag">Cloth</a>, <a rel="tag">printed</a> </li>
                    </ul>
                    
                    <div class="product_share">
                        <span>Share:</span>
                        <ul class="social_icons">
                            <li><a href="https://www.facebook.com/groups/Redcon1customers/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/Redcon1customers/" target="_blank"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/Redcon1customers/" target="_blank"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/Redcon1customers/" target="_blank"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/Redcon1customers/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="large_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="tab-style3">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Description</a>
                      	</li>
                      	<li class="nav-item">
                        	<a class="nav-link" id="Additional-info-tab" data-toggle="tab" href="#objective" role="tab" aria-controls="Objective-info" aria-selected="false">The Objective</a>
                      	</li>
                        <li class="nav-item">
                        	<a class="nav-link" id="Additional-info-tab" data-toggle="tab" href="#suggested_use" role="tab" aria-controls="Suggested_use-info" aria-selected="false">SUGGESTED USE</a>
                      	</li>
                          <li class="nav-item">
                        	<a class="nav-link" id="Additional-info-tab" data-toggle="tab" href="#Additional-info" role="tab" aria-controls="Additional-info" aria-selected="false">Additional info</a>
                      	</li>
                      	<li class="nav-item">
                        	<a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Reviews (2)</a>
                      	</li>
                    </ul>
                	<div class="tab-content shop_info_tab">
                      	<div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                            <p>{{ product.description }}</p>
                      	</div>
                          <div class="tab-pane fade" id="objective" role="tabpanel" aria-labelledby="Objective-tab">
                            <p>{{ product.objective }}</p>
                      	</div>
                          <div class="tab-pane fade " id="suggested_use" role="tabpanel" aria-labelledby="Suggested_use-tab">
                            <p>{{ product.suggested_use }}</p>
                      	</div>
                      	<div class="tab-pane fade" id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab">
                        	<table class="table table-bordered">
                            	<tr>
                                	<td>TITLE</td>
                                	<td>{{ select.title }}</td>
                            	</tr>
                                <tr>
                                    <td>SKU</td>
                                    <td>{{ select.sku }}</td>
                                </tr>
                                <tr>
                                    <td>WEIGHT</td>
                                    <td>{{ select.weight }}</td>
                                </tr>
                                <tr>
                                    <td>WEIGHT UNIT</td>
                                    <td>{{ select.weight_unit }}</td>
                                </tr>
                        	</table>
                      	</div>
                      	<div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                        	<div class="comments">
                            	<h5 class="product_tab_title">2 Review For <span>{{ select.title }}</span></h5>
                                <ul class="list_none comment_list mt-4">
                                    <li>
                                        <div class="comment_img">
                                            <img src="../../../assets/images/redcon/logo-red.png" alt="user1"/>
                                        </div>
                                        <div class="comment_block">
                                            <div class="rating_wrap">
                                                <div class="rating">
                                                    <div class="product_rate" style="width:80%"></div>
                                                </div>
                                            </div>
                                            <p class="customer_meta">
                                                <span class="review_author">Alea Brooks</span>
                                                <span class="comment-date">April 26, 2021</span>
                                            </p>
                                            <div class="description">
                                                <p>Excellent product!!! I haven't bought it yet, but I recommend it :)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment_img">
                                            <img src="../../../assets/images/redcon/logo-red.png" alt="user2"/>
                                        </div>
                                        <div class="comment_block">
                                            <div class="rating_wrap">
                                                <div class="rating">
                                                    <div class="product_rate" style="width:60%"></div>
                                                </div>
                                            </div>
                                            <p class="customer_meta">
                                                <span class="review_author">Geovane</span>
                                                <span class="comment-date">April 26, 2021</span>
                                            </p>
                                            <div class="description">
                                                <p>Excellent product!!! I haven't bought it yet, but I recommend it :)</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                        	</div>
                            <div class="review_form field_form">
                                <h5>Add a review</h5>
                                <form class="row mt-3">
                                    <div class="form-group col-12">
                                        <div class="star_rating">
                                            <span data-value="1"><i class="far fa-star"></i></span>
                                            <span data-value="2"><i class="far fa-star"></i></span> 
                                            <span data-value="3"><i class="far fa-star"></i></span>
                                            <span data-value="4"><i class="far fa-star"></i></span>
                                            <span data-value="5"><i class="far fa-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <textarea required="required" placeholder="Your review *" class="form-control" name="message" rows="4"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" placeholder="Enter Name *" class="form-control" name="name" type="text">
                                     </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" placeholder="Enter Email *" class="form-control" name="email" type="email">
                                    </div>
                                   
                                    <div class="form-group col-12">
                                        <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Submit Review</button>
                                    </div>
                                </form>
                            </div>
                      	</div>
                	</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="heading_s1">
                <h3>Releted Products</h3>
            </div>
        	
            	<div class="small_divider"></div>
            	<div class="divider"></div>
                <div class="medium_divider"></div>
            
        </div>

        <div class="card-columns"> 
            <div class="" *ngFor="let product of products">
                
                <div class="item">
                    <div class="product">
                        <div class="product_img">
                            <a href="shop-product-detail.html">
                                <img [src]="product.image"   [routerLink]="['/product/', product.id]">
                            </a>
                            <div class="product_action_box">
                                <ul class="list_none pr_action_btn">
                                    <li class="add-to-cart"><a ><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                    <li><a><i class="icon-shuffle"></i></a></li>
                                    <li><a  class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    <li><a ><i class="icon-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_info">
                            <h6 class="product_title"><a><p (click)="navegation(product.id)">{{product.title}}</p></a></h6>
                            <div class="product_price ">
                                <span class="price title-product ">$39.99</span>
                                <del>$79.98</del>
                                <div class="on_sale">
                                    <span>50% Off</span>
                                </div>
                            </div>
                            <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width:80%"></div>
                                </div>
                                <span class="rating_num">(21)</span>
                            </div>
                            <div class="pr_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                            </div>
                            <div class="pr_switch_wrap">
                                <div class="product_color_switch">
                                    <span class="active" data-color="#87554B"></span>
                                    <span data-color="#333333"></span>
                                    <span data-color="#DA323F"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
                
            	<div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                	<div class="item">
                        <div class="product">
                            <div class="product_img">
                                <a href="shop-product-detail.html">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                        <li><a href="shop-compare.html"><i class="icon-shuffle"></i></a></li>
                                        <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
<div class="section bg_default small_pt small_pb">
	<div class="container">	
    	<div class="row align-items-center">	
            <div class="col-md-6">
                <div class="heading_s1 mb-md-0 heading_light">
                    <h3>Subscribe Our Newsletter</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form">
                    <form>
                        <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                        <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
