<div class="top-header light_skin bg_dark d-none d-md-block">
    <div class="custom-container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="header_topbar_info">
                    <div class="header_offer">
                        <span>Spend $50, get any Shirt + $250 Instant Credit Deal</span>
                    </div>
                    <div class="download_wrap">
                        <span class="mr-3">Download App</span>
                        <ul class="icon_list text-center text-lg-left">
                            <li><a href="#"><i class="fab fa-apple"></i></a></li>
                            <li><a href="#"><i class="fab fa-android"></i></a></li>
                            <li><a href="#"><i class="fab fa-windows"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="lng_dropdown">
                        <img src="../../../assets/images/redcon/icon-to.svg" alt="" width="35">
                    </div>
                    <div class="lng_dropdown">
                        <img src="../../../assets/images/redcon/alpha.svg" alt="" width="35">
                    </div>
                    <div class="lng_dropdown">
                        <img src="../../../assets/images/redcon/uk.svg" alt="" width="35">
                    </div>
                    <div class="lng_dropdown">
                        <img src="../../../assets/images/redcon/redcon.svg" alt="" width="35">
                    </div>
                    <div class="lng_dropdown">
                        <img src="../../../assets/images/redcon/facebook.svg" alt="" width="35">
                    </div>
                    <div class="lng_dropdown">
                        <img src="../../../assets/images/redcon/store.svg" alt="" width="60">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>